<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/js/layui-v2.5.4/layui/css/layui.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/layui-v2.5.4/layui/layui.js}"></script>
    <title>SpringBoot</title>


    <script th:inline="javascript">
        layui.use('form', function () {
            var form = layui.form
            //监听提交
            form.on('submit(login)', function(data){
                $.ajax({
                    type:"post",
                    url:"login",
                    data:data.field,
                    dataType:"json",
                    cache:false,
                    async:true,
                    success:function(result){
                        var result = eval(result);
                        if (result.code == 0) {
                            //登陆成功
                            layer.msg("登陆成功")
                            window.location.href=/*[[@{/home}]]*/ "/"
                        }else{
                            layer.msg(result.msg,{icon: 5});
                        }

                    },
                    error:function(result){
                        var result = eval(result)
                        alert(result.msg);
                    }
                });
                return false;
            });
        });


    </script>
</head>
<body>
<div class="laylogin-header">
    <p class="laylogin-header-title">admin</p>
    <p class="laylogin-header-desc">后台管理系統</p>
</div>
<div class="laylogin-form-container">
    <form class="layui-form" th:action="@{/login}" style="margin-top:20px" method="post">

        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 100%;">
                <input type="text" name="userId" required lay-verify="required" autocomplete="off"
                       placeholder="手机号/用户ID" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 100%;">
                <input type="password" name="password" required lay-verify="required" autocomplete="off" placeholder="请输入密码"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item " style="margin-top:40px">
            <button class="layui-btn  layui-btn-submit " style="width: 100%;" lay-submit="" lay-filter="login">登录
            </button>
        </div>
    </form>
</div>

</body>
</html>
