<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/layui-v2.5.4/layui/css/layui.css}" rel="stylesheet"/>
    <title>SpringBoot</title>
</head>
<body>
<div class="laylogin-header">
    <p class="laylogin-header-title">admin</p>
    <p class="laylogin-header-desc">后台管理系統</p>
</div>
<div class="laylogin-form-container">
    <form class="layui-form" th:action="@{/login}" style="margin-top:20px" method="post">

        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 100%;">
                <input type="text" name="userId" required lay-verify="required" autocomplete="off"
                       placeholder="手机号/用户ID" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 100%;">
                <input type="password" name="password" required lay-verify="required" autocomplete="off" placeholder="请输入密码"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item " style="margin-top:40px">
            <button class="layui-btn  layui-btn-submit " style="width: 100%;" lay-submit="" lay-filter="demo1">登录
            </button>
        </div>
    </form>
</div>

</body>
</html>
